- $zl_legend = "Top des ventes"
- $textTop = { ###,
  one:         "Kit calendrier de l'avent",
  one_price:   "11,11€",
  two:         "Kit bougies de Noël",
  two_price:   "22.22€",
  three:       "Support en bois à décorer étoile filante",
  three_price: "33.33€",
  four:        "Support en bois à décorer lanterne",
  four_price:  "44.44€",
  five:        "Lot de 3 pinceaux aquarelle n°4/8/12",
  five_price:  "55.55€",
  }
- url = "http://www.latelierdelucie.fr/fr/loisirs-creatifs/no-l/";
- $linkTop = { ###,
  one:   "#{url}loisirs-creatifs/no-l/kit-calendrier-avent/1017193.html",
  two:   "#{url}loisirs-creatifs/no-l/kit-bougies-no-l/1019199.html",
  three: "#{url}loisirs-creatifs/no-l/support-en-bois-a-decorer-etoile-filante-lumineuse/1028190.html",
  four:  "#{url}loisirs-creatifs/no-l/support-en-bois-a-decorer-lanterne/1029198.html",
  five:  "#{url}loisirs-creatifs/accessoires-creatifs/lot-3-pinceaux-aquarelle-n-4-8-12/1157494.html",
  }
- $txtUniv = { ###,
  attri: "Notre sélection",
  sujet: "CANEVAS",
  }