- $zl_legend = "Top des ventes var=$zl_legend"
- $linkTop = { ###,
	one:   "linkTopPdtOne",
	two:   "linkTopPdtTwo",
	three: "linkTopPdtThree",
	four:  "linkTopPdtFour",
	five:  "linkTopPdtFive/linktoppdt5",
	 }