- $zl_legend = "Top des ventes"
- $textTop = { ###,
  one:         "Libellé pdt un",
  one_price:   "11,11€",
  two:         "Libellé pdt deux",
  two_price:   "22.22€",
  three:       "Libellé pdt trois",
  three_price: "33.33€",
  four:        "Libellé pdt quatre",
  four_price:  "44.44€",
  five:        "Libellé pdt cinq",
  five_price:  "55.55€",
  }
- $linkTop = { ###,
  one:   "linkTopPdtOne",
  two:   "linkTopPdtTwo",
  three: "linkTopPdtThree",
  four:  "linkTopPdtFour",
  five:  "linkTopPdtFive/linktoppdt5",
  }