.avoidIdBo, .zl_chapeau {
  position: relative;
  margin: 10px 22px 0 20px;
  padding: 10px;
	border: 1px solid #B70D7F;
  background: url(../images/imgZL/bg_zl_chapeau.jpg) 0 0 no-repeat;
  overflow: hidden;
}
.avoidIdBo, .zl_legend {
  display: inline-block;
  margin-bottom: 6px;
  padding: 4px 10px;
  background-color: #FFFF00;
}
.avoidIdBo, .zl_chapeau ul {
  margin-left: 10px;
  list-style: none;
  text-align: right;
}
.avoidIdBo, .zl_chapeau ol, .zl_chapeau ul {
  float: left;
  // outline: 1px solid deeppink;
}
.avoidIdBo, .zl_chapeau ol {
  list-style-position: inside;
}
.avoidIdBo, .zl_chapeau ol a:hover {
  text-decoration: underline;
}
.avoidIdBo, .zl_select {
  position: absolute; top: 10px; left: 250px;
  font: bold 16px Arial, Helvetica, sans-serif;
  color: #B70D7F;
}
.avoidIdBo, .zl_select span{
  position: relative; left: 44px;
  font-size: 21px;
}
// repaint listingProduct
.avoidIdBo, #tetiere {
  display: none;
}
.avoidIdBo, #paginationHaut {
  // display: none;
}
.avoidIdBo, #container.resultRecher {
  clear: left;
  margin-top: 0;
  padding-top: 0;
}
.avoidIdBo, .zone1 {
  clear: left;
}
.avoidIdBo, #listingProduct {
  overflow: hidden;
  background-color: #fff;
}
.avoidIdBo, #listingProduct ul {
  overflow: visible;
  width: 790px;
}
.avoidIdBo, .colRight, .colRight * {
  box-sizing: border-box;
}
.avoidIdBo, .colRight {
  float: right;
  width: 260px;
  min-height: 100px;
  padding-top: 10px;
  // padding-right: 10px;
  padding-left: 10px;
  border-left: 1px solid #AF007D;
  // background-color: #eee;
}
.avoidIdBo, .colRight p{
  font-size: 12px;
}
// supp border on last-child
.avoidIdBo, .colRight div:last-child{
  border: none;
}
// module conseillère
.avoidIdBo, .modConseill {
  // border: solid 2px pink;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #B70D7F;
}
.avoidIdBo, .contConseil {
  padding-left: 48px;
  padding-bottom: 28px;
  background: url(../images/imgZL/zl_conseilliere.png) 0 0 no-repeat;
}
.avoidIdBo, .tilCons {
  display: block;
  font: italic 18px/18px "Times New Roman", Times, serif;
  color: #6B4795;
  padding-left: 22px;
  background: url(../images/imgZL/bg_puce-garantie.png) 0 50% no-repeat;
}
.avoidIdBo, .zl_numSva {
  position: relative; width: 200px; margin: 6px 0;
  display: inline-block; vertical-align: middle;
  padding: 2px 6px;
  line-height: 20px; font-size: 12px; font-weight: bold;
  color: #AF007D; background-color: #FFF;
  box-shadow: inset 0px 0px 4px rgba(0,0,0,0.5);
  border-radius: 1px;
}
.avoidIdBo, .zl_numSva > span {
  position: absolute; top: -2px; right: 8px; bottom: -2px;
  display: inline-block;
  line-height: 11px;
  padding: 0 10px; padding-top: 3px;
  font-size: 9px;
  color: #fff;
  background-color: #AF007D;
}
.avoidIdBo, .zl_numSva > span:before {
  display: block; position: absolute; left: 0; top: 7px;
  content: ' ';
  background-image: url('../images/imgZL/arrowNumSva.svg');
  width: 7px;
  height: 15px;
}

// Module garanties
.avoidIdBo, .modGaranti {@extend .modConseill}
.avoidIdBo, .tilGarant {
  @extend .tilCons;
  margin-bottom: 4px;
}
.avoidIdBo, .eltRassur {
  display: inline-block;
  width: 49%; margin-bottom: 3px; padding-top: 5px;
  background-color: #6B4795;
  color: #fff; text-align: center;
  font: 14px/20px theonlyexceptionregular;
}
// Module Kdo
.avoidIdBo, .modKdo {
  @extend .modConseill;
  text-align: center;
}
.avoidIdBo, .tilKdo {
  @extend .tilCons;
  margin-bottom: 4px;
  text-align: left;
}
.avoidIdBo, .tilKdo + img {
  margin: 10px 0;
  border: 8px solid #fff;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.35);
}
.avoidIdBo, .libKdo {}
.avoidIdBo, .codKdo {
  display: block;
  margin: 20px 0;
  color: #6B4795;
  font: bold 14px Arial, Helvetica, sans-serif;
}
.avoidIdBo, .codKdo > span {
  padding: 3px 10px;
  color: #111;
  border: 2px solid #6B4795;
  border-radius: 2px;
}
.avoidIdBo, .codKdo + a:before {
  // cantrage vertical
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.avoidIdBo, .codKdo + a {
  display: inline-block;
  height: 38px; padding: 0 20px;
  vertical-align: middle;
  border: none;
  font: bold 14px arial; color: #111; text-align: center;
  background-color: #FBB500;
  border: 2px solid #fff;
  box-shadow: 0 0 14px rgba(0,0,0,0.35);
  border-radius: 38px;
}